{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}
{% block stylesheets%}
    <link href="{{ asset('assets/homepage.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/index-annonce.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {{ include('home_page_admin/index.html.twig') }}
   <div class="container-annonces">
    <h1>Annonces</h1>

    <table>
        <tbody>
        {% for annonce in annonces %}
            <tr class="annonce">
                <td id="annonce-title">{{ annonce.title }}</td>
                <td id="annonce-lieu">{{ annonce.lieu }}</td>
                <td id="annonce-description">{{ annonce.description }}</td>
                <td>

                    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn" id="btn-1">Voir</a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RECRUTEUR') %}
                    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}" class="btn" id="btn-2">Editer</a>
                    {% endif %}
                    <a href="{{ path('app_candidature', {'id': annonce.id}) }}" class="btn" id="btn-3">Postuler</a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


   </div>
{% endblock %}
