{% extends 'base.html.twig' %}


{% block title %}Annonce index{% endblock %}
{% block stylesheets%}
    <link href="{{ asset('assets/homepage.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/index-annonce.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

    {{ block('homepage', 'home_page_admin/index.html.twig') }}

   <div class="container-annonces">
       {% for message in app.flashes('success') %}
           <div class="alert alert-success">
               {{ message }}
           </div>
       {% endfor %}
    <h1>Annonces</h1>
       <form  action="{{ path('app_annonce_index') }}" style="margin-left: 90px">
           <input
                   id="search"
                   type="search"
                   name="q"
                   class="form-control"
                   placeholder="Rechercher..."
                   aria-label="Search"
           />
       </form>
       <a href="{{path('app_annonce_index')}}" id="back-link" style="font-size: 20px;
    font-weight: bold;">Retour à la liste</a></li>
    <table class="table">
        <tbody>
        {% for annonce in annonces %}
            <tr class="annonce">
                <td id="annonce-title">{{ annonce.title }}</td>
                <td id="annonce-lieu">{{ annonce.lieu }}</td>
                <td id="annonce-description">{{ annonce.description }}</td>
                <td>

                    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn" id="btn-1">Voir</a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CANDIDAT') %}
                    <a href="{{ path('app_candidature', {'id': annonce.id}) }}" class="btn" id="btn-3">Postuler</a>
                    {% endif %}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


   </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        // Live search script :
        $(document).ready(function() {
            $('#back-link').hide();
            var searchRequest = null;
            $("#search").keyup(function(){
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $(".table");
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('app_annonce_index') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(result){
                            //we need to check if the value is the same
                            if (value===$(that).val()) {

                                entitySelector.html($(result).find(".table"));
                                $('#back-link').show();

                            }
                        }
                    });
                }
            });

        })

        $(document).ready(function(){
            $(".ham").click(function(){
                if ($(".mobile-menu").css("display") === "none") {
                    $(".mobile-menu").css("display", "block");
                } else {
                    $(".mobile-menu").css("display", "none");
                }
            });
        });

    </script>
{% endblock %}
