{% extends 'base.html.twig' %}
{% block title %}TRT Conseil | Home{% endblock %}

{% block stylesheets%}
    <link href="assets/homepage.css" rel="stylesheet">
{% endblock %}
{% block body %}
    {% block homepage %}
    <header>
        <a href="{{ path('app_home_page')}}">
        <img src="{{ asset('./assets/images/logo-2.png') }}" id="logo-hide">
        </a>
        <div class="hamMenu">
            <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">

                <path
                        class="line top"
                        d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
                <path
                        class="line middle"
                        d="m 30,50 h 40" />
                <path
                        class="line bottom"
                        d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
            </svg>
        </div>
        <div class="mobile-menu">
            <div class="mobile-menu-items">
                <li {% if app.request.attributes.get('_route') == 'app_home_page' %} class="active" {% endif %}><a href="{{ path('app_home_page') }}">Home</a></li>
                <li {% if app.request.attributes.get('_route') == 'app_annonce_index' %} class="active" {% endif %}><a href="{{  path('app_annonce_index')}}">Annonces</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RECRUTEUR') %}
                    <li {% if app.request.attributes.get('_route') == 'app_annonce_new' %} class="active" {% endif %}><a href="{{ path('app_annonce_new') }}">Publier</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONSULTANT') %}
                    <li {% if app.request.attributes.get('_route') == 'app_back_office'%} class="active" {% endif %}><a href="{{ path('app_back_office') }}">Back-office</a></li>
                {% endif %}
            </div>
        </div>
        <div class="profile">
            <div class="flex-profile">
                  <h1>{{ email }}</h1>
                <img src="{{ asset('assets/images/profile.png')}}" />
            </div>
        </div>
    </header>
    <div class="sidenav">
        <img src="{{ asset('./assets/images/logo.png') }}" id="logo">
        <div class="navlinks">
            <ul>
                <li {% if app.request.attributes.get('_route') == 'app_home_page' %} class="active" {% endif %}><img src="{{ asset('assets/images/home.png')}}" /><a href="{{ path('app_home_page') }}">Home</a></li>
                <li {% if app.request.attributes.get('_route') == 'app_annonce_index' %} class="active" {% endif %}><img src="{{ asset('assets/images/annonces.png')}}" /><a href="{{  path('app_annonce_index')}}">Annonces</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RECRUTEUR') %}
                    <li {% if app.request.attributes.get('_route') == 'app_annonce_new' %} class="active" {% endif %}><img src="{{ asset('assets/images/upload.png')}}" /><a href="{{ path('app_annonce_new') }}">Publier</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONSULTANT') %}
                    <li {% if app.request.attributes.get('_route') == 'app_back_office'%} class="active" {% endif %}><img src="{{ asset('assets/images/back-office.png')}}" /><a href="{{ path('app_back_office') }}">Back-office</a></li>
                {% endif %}

            </ul>
        </div>
        <div class="logout">
            <ul>
                <li><img src="{{ asset('assets/images/logout.png')}}" /><a href="{{ path('app_logout')}}">Log out</a></li>
            </ul>
        </div>
    </div>
        {% endblock %}
    <h1 id="title">Dashboard</h1>
    <div class="main-wrapper">

            <div class="wrapper-left">
                <h1>Annonces</h1>
                <table>
                    <tbody>
                    {% for annonce in annonces %}
                        <tr class="annonce">
                            <td id="annonce-title">{{ annonce.title }}</td>
                            <td id="annonce-lieu">{{ annonce.lieu }}</td>
                            <td id="annonce-description">{{ annonce.description }}</td>
                            <td>

                                <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn" id="btn-1">Voir</a>

                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('app_annonce_index') }}" id="btn-ann">Voir plus</a>
            </div>

            <div class="block-right">

                    <div class="wrapper-1">
                        <h1>Statistiques</h1>
                        <div class="wrapper-data">
                            <div class="data"><h3>Annonce</h3><p>{{ numberAnnonce }}</p></div>
                            <div class="data"><h3>Candidature</h3><p>{{ numberCandidature }}</p></div>
                        </div>



                    </div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="wrapper-2-admin">
                    <div>
                        <div><canvas id="categories" height="190" width="400" style="margin-left: 20px; padding-top: 20px"></canvas></div>
                        <script>
                            const categories = document.querySelector("#categories");
                            const myChart = new Chart(categories, {
                                type: 'bar',
                                data: {
                                    labels: ['Annonce', 'Candidature'],
                                    datasets: [{
                                        label: 'Nombre d\'annonces et de candidatures',
                                        data: [{{ numberAnnonce }}, {{ numberCandidature }}],
                                        backgroundColor: [
                                            '#4B4B4B',
                                            '#4B4B4B',
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                        ],


                                    }]
                                },
                                options: {
                                    responsive: true,
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
                {% else %}
                    <div class="wrapper-2">

                        <h1>TRT Conseil</h1>
                        <p>TRT Conseil est là pour vous à chaque instant de votre vie professionnelle !</p>
                        <div class="logo-flex">
                        <img src="{{ asset('./assets/images/logo-2.png') }}" id="logo-2">
                        </div>

                    </div>
                {% endif %}
         </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $(".ham").click(function(){
                if ($(".mobile-menu").css("display") === "none") {
                    $(".mobile-menu").css("display", "block");
                } else {
                    $(".mobile-menu").css("display", "none");
                }
            });
        });

    </script>
{% endblock %}


