{% extends 'base.html.twig' %}

{% block title %}TRT Conseil | Candidature{% endblock %}
{% block stylesheets%}
    <link href="{{ asset('assets/homepage.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/back-office.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="main">
    {{ block('homepage', 'home_page_admin/index.html.twig') }}
        <div class="nav-bar">
            <a {% if app.request.attributes.get('_route') == 'app_back_office' %} class="a-active" {% endif %} href="{{ path('app_back_office') }}">All</a>
            <a {% if app.request.attributes.get('_route') == 'app_back_office_utilisateurs' %} class="a-active" {% endif %} href="{{ path('app_back_office_utilisateurs') }}">Utilisateurs</a>
            <a {% if app.request.attributes.get('_route') == 'app_back_office_annonces' %} class="a-active" {% endif %} href="{{ path('app_back_office_annonces') }}">Annonces</a>
            <a {% if app.request.attributes.get('_route') == 'app_back_office_candidatures' %} class="a-active" {% endif %}href="{{ path('app_back_office_candidatures') }}">Candidatures</a>
        </div>

        <form  action="{{ path('app_back_office_candidatures') }}">
            <input
                    id="search"
                    type="search"
                    name="q"
                    class="form-control"
                    placeholder="Rechercher..."
                    aria-label="Search"
                    autocomplete="off"
            />
        </form>
        <div class="wrapper-sort">
            <h3>Trier par :</h3>
            <a href="{{path('app_back_office_candidatures')}}" id="back-link" style="font-size: 20px;
    font-weight: bold;">Retour à la liste</a></li>
            <li><btn   id="all">All</btn></li>
            <li><btn  id="approved-btn">Approved</btn></li>
            <li><btn  id="not-approved-btn">Not Approved</btn></li>
        </div>
        <table class="table-user" style="margin-top: 50px">

            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>CV</th>
                <th>IsApproved</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for candidature in candidature %}
                <tr class="{{  (candidature.isVerified) ? 'approved-items' : 'not-approved-items' }}">
                    <td data-label="id">{{ candidature.id }}</td>
                    <td data-label="Nom">{{ candidature.nom }}</td>
                    <td data-label="Prenom">{{ candidature.prenom }}</td>
                    <td data-label="CV"><a href="{{ asset('uploads/images/' ~ candidature.cv ~ '')}}" download>CV</a></td>
                    <td data-label="IsApproved"><div class="wrapper-switch"><div class="switch">
                                <input  type="checkbox"  name="toggle-4" id="toggleAll{{ candidature.id }}" {{ (candidature.isVerified) ? 'checked' : ''}} data-id="{{  candidature.id }}" /> <!--toggle switch-->
                                <label for="toggleAll{{ candidature.id }}"></label>
                            </div></div></td>
                    <td data-label="Actions">
                        <a class="btn" id="btn-1" href="{{ path('app_back_office_show', {'id': candidature.user.id }) }}">Voir le profil</a>
                        <a class="btn" id="btn-1" href="{{ path('app_annonce_show', {'id': candidature.annonce.id}) }}">Voir l'annonce liée</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            let activate4 = document.querySelectorAll('[name="toggle-4"]');
            for(let bouton4 of activate4){
                bouton4.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) === true) {
                        let xmlhtpp = new XMLHttpRequest();

                        xmlhtpp.open("get", `/back-office/${this.dataset.id}/activate-permission4`)
                        xmlhtpp.send();
                    } else {
                        bouton4.checked = !bouton4.checked;
                    }
                })

            }
        });

        $(document).ready(function(){
            $(".ham").click(function(){
                if ($(".mobile-menu").css("display") === "none") {
                    $(".mobile-menu").css("display", "block");
                } else {
                    $(".mobile-menu").css("display", "none");
                }
            });
        });
        // Filter list script :
        $(document).ready(function(){
            $('#approved-btn').click(function(){
                $('.not-approved-items').hide();
                $('.approved-items').show();
            });
            $('#not-approved-btn').click(function(){
                $('.approved-items').hide();
                $('.not-approved-items').show();
            });
            $('#all').click(function(){
                $('.approved-items').show();
                $('.not-approved-items').show();
            });
        });
        // Live search script :
        $(document).ready(function() {
            $('#back-link').hide();
            var searchRequest = null;
            $("#search").keyup(function(){
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $(".table-user");
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('app_back_office_candidatures') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(result){
                            //we need to check if the value is the same
                            if (value===$(that).val()) {

                                entitySelector.html($(result).find(".table-user"));
                                $('#back-link').show();

                            }
                        }
                    });
                }
            });

        })

    </script>
{% endblock %}