{% extends 'base.html.twig' %}

{% block title %}TRT Conseil | Back-Office{% endblock %}
{% block stylesheets%}
    <link href="{{ asset('assets/homepage.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/back-office.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="main">
    {{ block('homepage', 'home_page_admin/index.html.twig') }}
        <div class="nav-bar">
             <a {% if app.request.attributes.get('_route') == 'app_back_office' %} class="a-active" {% endif %} href="{{ path('app_back_office') }}">All</a>
            <a {% if app.request.attributes.get('_route') == 'app_back_office_utilisateurs' %} class="a-active" {% endif %} href="{{ path('app_back_office_utilisateurs') }}">Utilisateurs</a>
            <a {% if app.request.attributes.get('_route') == 'app_back_office_annonces' %} class="a-active" {% endif %} href="{{ path('app_back_office_annonces') }}">Annonces</a>
            <a {% if app.request.attributes.get('_route') == 'app_back_office_candidatures' %} class="a-active" {% endif %}href="{{ path('app_back_office_candidatures') }}">Candidatures</a>
        </div>
        <table class="table-user">
            <h1 style="color: white; margin-top: 60px; font-size: 25px">Utilisateurs</h1>
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>IsVerified</th>
                <th>IsApproved</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in user %}
                <tr>
                    <td data-label="id">{{ user.id }}</td>
                    <td data-label="email"> {{ user.email }}</td>
                    <td data-label="roles">{{ user.roles|json_encode }}</td>
                    <td data-label="IsVerified"><div class="wrapper-switch"><div class="switch">
                                <input  type="checkbox" name="toggle-1" id="toggleAll-1 {{  user.id }}" {{ (user.isVerified) ? 'checked' : ''}} data-id="{{ user.id }}" /> <!--toggle switch-->
                                <label for="toggleAll-1 {{  user.id }}"></label>
                            </div></div></td>
                    <td data-label="IsApproved"><div class="wrapper-switch"><div class="switch">
                                <input  type="checkbox"  name="toggle-2" id="toggleAll-2 {{  user.id }}" {{ (user.isApproved) ? 'checked' : ''}} data-id="{{ user.id }}" /> <!--toggle switch-->
                                <label for="toggleAll-2 {{  user.id }}"></label>
                            </div></div></td>
                    <td data-label="Actions">
                        <a class="btn" id="btn-1" href="{{ path('app_back_office_show', {'id': user.id }) }}">Voir le profil</a>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        <table class="table-user">
            <h1 style="color: white; font-size: 25px; margin-top: 60px;">Annonces</h1>
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Titre</th>
                <th>Lieu</th>
                <th>Description</th>
                <th>IsApproved</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for annonce in annonce %}
            <tr>
                <td data-label="id">{{ annonce.id }}</td>
                <td data-label="Email">{{ annonce.email }}</td>
                <td data-label="Titre">{{ annonce.title }}</td>
                <td data-label="Lieu">{{ annonce.lieu }}</td>
                <td data-label="Description">{{ annonce.description }}</td>
                <td data-label="IsApproved"><div class="wrapper-switch"><div class="switch">
                            <input  type="checkbox"  name="toggle-3" id="toggleAll{{ annonce.id }}" {{ (annonce.isVerified) ? 'checked' : ''}} data-id="{{  annonce.id }}" /> <!--toggle switch-->
                            <label for="toggleAll{{ annonce.id }}"></label>
                        </div></div></td>
                <td data-label="Actions">
                    <a class="btn" id="btn-1" href="{{ path('app_back_office_show', {'id': annonce.user.id }) }}">Voir le profil</a>
                    <a class="btn" id="btn-1" href="{{ path('app_annonce_show', {'id': annonce.id }) }}">Voir l'annonce</a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>

        <table class="table-user">
            <h1 style="color: white; font-size: 25px; margin-top: 60px;">Candidatures</h1>
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>CV</th>
                <th>IsApproved</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for candidature in candidature %}
                <tr>
                    <td data-label="id">{{ candidature.id }}</td>
                    <td data-label="Nom">{{ candidature.nom }}</td>
                    <td data-label="Prenom">{{ candidature.prenom }}</td>
                    <td data-label="CV"><a href="{{ asset('uploads/images/' ~ candidature.cv ~ '')}}" download>CV</a></td>
                    <td data-label="IsApproved"><div class="wrapper-switch"><div class="switch">
                                <input  type="checkbox"  name="toggle-4" id="toggleAll{{ candidature.id }}" {{ (candidature.isVerified) ? 'checked' : ''}} data-id="{{  candidature.id }}" /> <!--toggle switch-->
                                <label for="toggleAll{{ candidature.id }}"></label>
                            </div></div></td>
                    <td data-label="Actions">
                        <a class="btn" id="btn-1" href="{{ path('app_back_office_show', {'id': candidature.user.id }) }}">Voir le profil</a>
                        <a class="btn" id="btn-1" href="{{ path('app_annonce_index') }}">Voir l'annonce liée</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        let activate = document.querySelectorAll('[name="toggle-1"]');
        for(let bouton of activate){
            bouton.addEventListener("click", function(){
                let text = "Vous êtes sûr ?";
                if (confirm(text) === true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/back-office/${this.dataset.id}/activate-permission1`)
                    xmlhtpp.send();
                } else {
                    bouton.checked = !bouton.checked;
                }
            })

        }

        let activate2 = document.querySelectorAll('[name="toggle-2"]');
        for(let bouton2 of activate2){
            bouton2.addEventListener("click", function(){
                let text = "Vous êtes sûr ?";
                if (confirm(text) === true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/back-office/${this.dataset.id}/activate-permission2`)
                    xmlhtpp.send();
                } else {
                    bouton2.checked = !bouton2.checked;
                }
            })

        }

        let activate3 = document.querySelectorAll('[name="toggle-3"]');
        for(let bouton3 of activate3){
            bouton3.addEventListener("click", function(){
                let text = "Vous êtes sûr ?";
                if (confirm(text) === true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/back-office/${this.dataset.id}/activate-permission3`)
                    xmlhtpp.send();
                } else {
                    bouton3.checked = !bouton3.checked;
                }
            })

        }

        $(document).ready(function(){
            let activate4 = document.querySelectorAll('[name="toggle-4"]');
            for(let bouton4 of activate4){
                bouton4.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) === true) {
                        let xmlhtpp = new XMLHttpRequest();

                        xmlhtpp.open("get", `/back-office/${this.dataset.id}/activate-permission4`)
                        xmlhtpp.send();
                    } else {
                        bouton4.checked = !bouton4.checked;
                    }
                })

            }
        });
    });


    $(document).ready(function(){
        $(".ham").click(function(){
            if ($(".mobile-menu").css("display") === "none") {
                $(".mobile-menu").css("display", "block");
            } else {
                $(".mobile-menu").css("display", "none");
            }
        });
    });
</script>
{% endblock %}
