{% extends 'base.html.twig' %}

{% block title %}TRT Conseil | Voir{% endblock %}
{% block stylesheets%}
    <link href="{{ asset('assets/homepage.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/back-office.css') }}" rel="stylesheet">
     <link href="{{ asset('assets/back-office_show.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="main">
    {{ block('homepage', 'home_page_admin/index.html.twig') }}
    {% for candidat in candidat %}
        <td>{{ candidat.nom }}</td>
        <td>{{ candidat.prenom }}</td>
    {% endfor %}
    <div class="wrapper-info">
        <h3>Utilisateur</h3>

        {% for candidat in candidat %}
            <table class="table-user">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>CV</th>
                    <th>IsVerified</th>
                    <th>IsApproved</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td data-label="id">{{ candidat.id }}</td>
                    <td data-label="Email">{{ candidat.emailAdress }}</td>
                    <td data-label="Role">{{ candidat.user.roles|json_encode}}</td>
                    <td data-label="Nom">{{ candidat.nom }}</td>
                    <td data-label="Prenom">{{ candidat.prenom }}</td>
                    <td data-label="CV"><a href="{{ asset('uploads/images/' ~ candidat.cv ~ '')}}" download>CV</a></td>
                    {% if is_granted('ROLE_ADMIN')%}
                        <td data-label="IsVerified"><div class="wrapper-switch"><div class="switch">
                                    <input  type="checkbox" name="toggle-1" id="toggleAll-1 {{  candidat.user.id }}" {{ (candidat.user.isVerified) ? 'checked' : ''}} data-id="{{ candidat.user.id }}" /> <!--toggle switch-->
                                    <label for="toggleAll-1 {{  candidat.user.id }}"></label>
                                </div></div></td>
                    {% else %}
                        <td data-label="IsVerified">{{ candidat.user.isVerified ? 'Yes' : 'No' }}</td>
                    {% endif %}
                    <td data-label="IsApproved"><div class="wrapper-switch"><div class="switch">
                                <input  type="checkbox"  name="toggle-2" id="toggleAll-2 {{  candidat.user.id }}" {{ (candidat.user.isApproved) ? 'checked' : ''}} data-id="{{  candidat.user.id }}" /> <!--toggle switch-->
                                <label for="toggleAll-2 {{   candidat.user.id }}"></label>
                            </div></div></td>
                </tr>
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN')%}
        <div class="wrapper-edit">
     
            <a id="btn-delete{{ candidat.user.id }}" href="{{ path('app_back_office_utilisateurs_delete', {'id': candidat.user.id}) }}" data-id="{{ candidat.user.id }}">delete</a>
            <div style="display: flex; justify-content: center">

            </div>
            {% endif %}
        {% endfor %}
            {% for recruteur in recruteur %}
        <table class="table-user">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Role</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>IsVerified</th>
                <th>IsApproved</th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td data-label="id">{{ recruteur.id }}</td>
                <td data-label="Email">{{ recruteur.emailAdress }}</td>
                <td data-label="Role">{{ recruteur.user.roles|json_encode}}</td>
                    <td data-label="Nom">{{ recruteur.nom }}</td>
                <td data-label="Adresse">{{ recruteur.adresse }}</td>
                {% if is_granted('ROLE_ADMIN')%}
                <td data-label="IsVerified"><div class="wrapper-switch"><div class="switch">
                            <input  type="checkbox" name="toggle-1" id="toggleAll-1 {{  recruteur.user.id }}" {{ (recruteur.user.isVerified) ? 'checked' : ''}} data-id="{{ recruteur.user.id }}" /> <!--toggle switch-->
                            <label for="toggleAll-1 {{  recruteur.user.id }}"></label>
                        </div></div></td>
                {% else %}
                    <td data-label="IsVerified">{{ recruteur.user.isVerified ? 'Yes' : 'No' }}</td>
                    {% endif %}
                <td data-label="IsApproved"><div class="wrapper-switch"><div class="switch">
                            <input  type="checkbox"  name="toggle-2" id="toggleAll-2 {{  recruteur.user.id }}" {{ (recruteur.user.isApproved) ? 'checked' : ''}} data-id="{{  recruteur.user.id }}" /> <!--toggle switch-->
                            <label for="toggleAll-2 {{   recruteur.user.id }}"></label>
                        </div></div></td>
                </tr>
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN')%}
        <div class="wrapper-edit">
            <a id="btn-delete{{ recruteur.user.id }}" href="{{ path('app_back_office_utilisateurs_delete', {'id': recruteur.user.id}) }}" data-id="{{ recruteur.user.id }}">delete</a>
            <div style="display: flex; justify-content: center">

            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
   {% for recruteur in recruteur %} <h1 style="color: white">Annonce(s) associée(s)</h1>
   <h2 style="color: #8D8D8D;font-size: 21px;font-weight: 500;">Annonce(s) crée(s) par l'utilisateur</h2>
   {% endfor %}
    {% for candidat in candidat %} <h1 style="color: white">Candidature(s) associée(s)</h1>
        <h2 style="color: #8D8D8D;font-size: 21px;font-weight: 500;">Annonce(s) où l'utilisateur à postulé</h2>
    {% endfor %}
<div class="wrapper-annonce" style="display: flex">
        {% for annonce in annonces %}
        <table class="wrapper-bottom">
            <tbody>
            <tr class="annonce">
                <td id="annonce-title">{{ annonce.title }}</td>
                <td id="annonce-lieu">{{ annonce.lieu }}</td>
                <td id="annonce-description">{{ annonce.description }}</td>
                <td>

                    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn" id="btn-voir">Voir</a>
                </td>
            </tr>
            </tbody>
            </table>
        {% endfor %}

    {% for candidature in candidature %}
         <table class="wrapper-bottom">
            <tbody>
            <tr class="annonce">
            <td id="annonce-title">{{ candidature.annonce.title}}</td>
            <td id="annonce-lieu">{{ candidature.annonce.lieu }}</td>
            <td id="annonce-description">{{ candidature.annonce.description }}</td>
            <td>
                <a href="{{ path('app_annonce_show', {'id': candidature.annonce.id}) }}" class="btn" id="btn-voir">Voir</a>
            </td>
        </tr>
        </tbody>
        </table>
    {% endfor %}
</div>
</div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $(".ham").click(function(){
                if ($(".mobile-menu").css("display") === "none") {
                    $(".mobile-menu").css("display", "block");
                } else {
                    $(".mobile-menu").css("display", "none");
                }
            });
        });

        $(document).ready(function(){
        let activate = document.querySelectorAll('[name="toggle-1"]');
        for(let bouton of activate){
            bouton.addEventListener("click", function(){
                let text = "Vous êtes sûr ?";
                if (confirm(text) === true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/back-office/${this.dataset.id}/activate-permission1`)
                    xmlhtpp.send();
                } else {
                    bouton.checked = !bouton.checked;
                }
            })

        }

        let activate2 = document.querySelectorAll('[name="toggle-2"]');
        for(let bouton2 of activate2){
            bouton2.addEventListener("click", function(){
                let text = "Vous êtes sûr ?";
                if (confirm(text) === true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/back-office/${this.dataset.id}/activate-permission2`)
                    xmlhtpp.send();
                } else {
                    bouton2.checked = !bouton2.checked;
                }
            })

        }
        });

    </script>
{% endblock %}